<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>上传头像</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../stylesheets/webuploader.css" /><!--样式自己加id改-->
        <link rel="stylesheet" type="text/css" href="../../stylesheets/cropper.css" />
       <!--  <link rel="stylesheet" href="../../artdialog/css/ui-dialog.css"> -->
        <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css" />

    </head>
    <body>
    <div class="wrapper">
        <div style="text-align: center; margin-top: 10px;">
            <div class="uploader-container">
                <div id="filePicker">选择文件</div>
            </div>

                <div class="upload-btn">上传所选区域</div>
           <!-- Croper container -->
            <div class="cropper-wraper webuploader-element-invisible">
                <div class="img-container" style="width:400px;height:400px;float: left;">
                    <img src="" alt="" />
                </div>
                <div class="img-preview"></div>
            </div>
        </div> 
    </div>
    <script type="text/javascript" src="../../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../../javascripts/webuploader.js"></script>
    <script type="text/javascript" src="../../javascripts/cropper.js"></script>
    <script src="../../artdialog/js/dialog-min.js"></script>
    <script src="../../artdialog/js/dialog-plus-min.js"></script>
    <script type="text/javascript" src="../../javascripts/uploaderHeadImage.js"></script>
    </body>
</html>
